# log file to use
log_file=/opt/nagios/var/nagios.log
# object configuration directory
cfg_dir=/opt/nagios/etc/objects
# storage information
resource_file=/opt/nagios/etc/resource.cfg
status_file=/opt/nagios/var/status.dat
status_update_interval=10

